@{
    ViewData["Title"] = "Home Page";
}
@model List<RA.SPCore.Lib.BE.Login>

    <form method="post">

    <div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4 mb-2">
      
    </div>
      <div class="col-md-4 mb-2">
        <input type="text" class="mr-1 form-control" name="searchString" />
      </div>
      <div class="col-md-4 mb-2">
        <button
          value="Search"
          type="submit"
          role="button"
          tabIndex="0"
          class="btn btn-secondary"
        >Search
          
        </button>
      </div>
    </div>
  </div>
</div>


</form>
    
<div class="card mt-2" *ngIf="paginatedData.length > 0">
  <div class="card-body">
    <div class="table-responsive datatab">
      

    @if (Model != null && Model.Count > 0)
    {
        <table class="table result-table">
            <thead>
                <tr>
                  <th>OID</th>
                  <th>Username</th>
                  <th>FirstName</th>
                  <th>LastName</th>
                  
                  <th>Email1</th>
                  <th>Email2</th>
                  <th>Status</th>
                </tr>
             </thead>

            <tbody>
                @foreach(var item in Model)
                {
                <tr>
                    <td> 
                        <span class="table-data"> @item.OID</span>
                        </td>
                    <td>@item.Username</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    
                    <td>@item.EmailOne</td>
                    <td>@item.EmailTwo</td>
                    <td>@item.Status</td>
                </tr>
                }

            </tbody>
        </table>
    }
    else{
        <table class="table result-table">
            <thead>
                <tr>
                  <th>OID</th>
                  <th>Username</th>
                  <th>FirstName</th>
                  <th>LastName</th>
                  
                  <th>Email1</th>
                  <th>Email2</th>
                  <th>Status</th>
                </tr>
             </thead>

            <tbody>
                <tr><td colspan="7" class="table-data text-center"><h4>No result found</h4></td></tr>
            </tbody>
        </table>
   
    }

        </div>
    </div>
</div>
</div>
